# Spectrum Licence Composite Dataset Construction

The Register of Radiocommunication Licences (RRL) is database containing licensing information spread across various .csv files. The information stored in the various csv files need to be merged into a single dataset using a licence number index.

### Desire Spectrum Licence Information
- Licence number
- Client number
- Frequency Ranges
- Bandwidth
- HCIS Cells

In [10]:
import pandas as pd
import numpy as np

# getRRL() -> To be implemented. Downloads RRL and verifies structure is compatible with specNav.

# -----------------
# def getSpecLic ():
# -----------------

licence = pd.read_csv('licence.csv')


# Column tidy
licence.drop(columns=[
    'SV_ID',
    'SS_ID',
    'DATE_ISSUED',
    'DATE_OF_EFFECT',
    'DATE_OF_EXPIRY',
    'STATUS',
    'STATUS_TEXT',
    'AP_ID',
    'AP_PRJ_IDENT',
    'SHIP_NAME',
    'BSL_NO'
    ], inplace=True)

# Isolate and sort Spectrum Licence Entries
specLicence = licence.loc[licence['LICENCE_TYPE_NAME'] == 'Spectrum']
specLicence.reset_index(drop=True, inplace=True)
specLicence = specLicence.astype({'LICENCE_NO':'int32'})

freq = pd.read_csv('auth_spectrum_freq.csv')
freq.drop(columns=['AREA_CODE', 'AREA_NAME'])

,LICENCE_NO,AREA_CODE,AREA_NAME,LW_FREQUENCY_START,LW_FREQUENCY_END,UP_FREQUENCY_START,UP_FREQUENCY_END
0,10006309,AP_10006309_3714,Regional South Australia,1710000000,1712500000,1.805000e+09,1.807500e+09
1,10143110,AP_10143110_3918,Brisbane,1960000000,1970000000,2.150000e+09,2.160000e+09
2,10143110,AP_10143110_3919,Adelaide,1960000000,1970000000,2.150000e+09,2.160000e+09
3,10143110,AP_10143110_3920,Perth,1960000000,1970000000,2.150000e+09,2.160000e+09
4,10143110,AP_10143110_3916,Sydney,1920000000,1935000000,2.110000e+09,2.125000e+09
...,...,...,...,...,...,...,...
1468,9599659,AP_9599659_2778,2.3 GHz Band,2302000000,2337000000,NaN,NaN
1469,9619844,AP_9619844_2798,Sydney,1740000000,1755000000,1.835000e+09,1.850000e+09
1470,9619844,AP_9619844_2800,Merge: Brisbane + Merge: Adelaide + Perth,1745000000,1755000000,1.840000e+09,1.850000e+09
1471,9619844,AP_9619844_2799,Melbourne,1740000000,1755000000,1.835000e+09,1.850000e+09
1472,9998087,AP_9998087_3629,North Queensland (Cairns/Townsville),1710000000,1712500000,1.805000e+09,1.807500e+09